/* google font - dm mono */
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;1,400;1,500&display=swap");

:root {
  font-family: "DM Mono", monospace, sans-serif;
  line-height: 1;
  font-size: 16px;

  --border-radius: 10px;
  --max-width: 1100px;
  --max-mobile-width: 300px;

  color-scheme: light dark;
  --foreground: #0c0c0c;
  --primary: #ff9b42;
  --secondary: #7768df;
  --tertiary: #c2c2c2;
  --background: #ffffff;
  --background-accent: #eeeeee;
  color: var(--foreground);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  /* bugfix with borders
  border: 0.5px dashed red; */
}

#app {
  max-width: 100%;
  max-height: 100%;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--background);
}

body::-webkit-scrollbar-thumb {
  background: var(--tertiary);
}
.small-title {
  color: var(--foreground);
  font-size: 1.5rem;
}
.button-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.donate-button {
  cursor: pointer;
  color: var(--foreground);
  background-color: var(--primary);
  border-radius: var(--border-radius);
  border: 2px solid var(--foreground);
  box-shadow: 3px 3px var(--foreground);
  padding: 1em;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  transition: 0.2s ease;
  font-family: inherit;
}
.donate-button:hover {
  color: var(--primary);
  background-color: var(--background);
  border-radius: var(--border-radius);
  border: 2px solid var(--primary);
  box-shadow: none;
}
.donate-button:focus {
  color: var(--primary);
  background-color: var(--background);
  border-radius: var(--border-radius);
  border: 2px solid var(--primary);
  box-shadow: none;
}

.share-button {
  cursor: pointer;
  color: var(--background);
  background-color: var(--secondary);
  border-radius: var(--border-radius);
  border: 2px solid var(--foreground);
  box-shadow: 3px 3px var(--foreground);
  padding: 1em;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  transition: 0.2s ease;
}
.share-button:hover {
  color: var(--secondary);
  background-color: var(--background);
  border-radius: var(--border-radius);
  border: 2px solid var(--secondary);
  box-shadow: none;
}
.share-button:focus {
  color: var(--secondary);
  background-color: var(--background);
  border-radius: var(--border-radius);
  border: 2px solid var(--secondary);
  box-shadow: none;
}
@media (max-width: 768px) {
}
