:root {
  font-family: sans-serif;
  line-height: 1;
  font-size: 16px;

  --max-width: 1100px;

  color-scheme: light dark;
  --foreground: #0c0c0c;
  --primary: #c48de2;
  --secondary: #782aa2;
  --tertiary: #d6d6d6;
  --background: #ffffff;
  color: var(--foreground);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  /* bugfix with borders
  border: 0.1px solid rgba(179, 210, 210, 0.5);*/
}

#app {
  max-width: 100%;
  max-height: 100%;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--background);
}

body::-webkit-scrollbar-thumb {
  background: var(--accent);
}

@media (max-width: 768px) {
  :root {
    --max-width: 300px;
  }
}
